/*
  These styles are for
  the home page.
*/

html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html, body {
  padding: 0;
  margin:0;
}

body {
  background-color: rgb(5, 75, 141);
}

header {
  background-color: #364552;
  color: white;
  padding: 2rem 2rem;
}

header nav {
  width: 100%;
}


header nav a {
  font-size: 3rem;
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
}

#title-navigation {
  font-size: 3rem;
}

#title-navigation:hover {
  color: #aaa;
}

header nav ul {
  list-style: none;
  float: right;
}

header nav ul li {
  display: inline;
}

header nav ul li a {
  font-size: 2rem;
  padding: 0.5rem;
}

header nav ul li a:hover {
  color: #aaa;
}

.container {
  display: grid;
  grid-template-columns: 50% 50%;
}

.container form {
  margin: 1.5rem;
}

.container form textarea {
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 0.5rem;
}

.container form button {
  transition: box-shadow 0.3s ease;
  margin: 1.5rem 0;
  padding: 0.5rem 1.5rem;
  border: 1px black solid;
  border-radius: 10px;
  width: 10rem;
  font-size: 1.5rem;
  color: white;
  background-color: #3b517e;
}

.container form button:hover {
  cursor: pointer;
  background-color: #5675b4;
  box-shadow: 0.5rem 0.5rem rgba(0, 0, 0, 0.3);
}

.messages-view {
  transition: box-shadow 0.3s ease;
  padding: 0.1rem;
  margin: 1%;
  border-radius: 2rem;
  text-align: center;
  background-color: #c9cefcaf;
}

.messages-view:hover {
  cursor: pointer;
  box-shadow: 0.5rem 1rem rgba(0, 0, 0, 0.3);
}

.messages-view p {
  color: #000;
  font-size: 1.5em;
}

footer {
  padding: 2rem 2rem;
  background-color: #364552;
  margin-top: 3rem;
}

footer a {
  transition: color 0.3s ease;
  text-decoration: none;
  color: white;
  float: right;
  margin: 0 1.5rem;
  font-size: 1.5em;
}

footer a:hover {
  color: #aaa;
}

#year {
  color: white;
  font-size: 1.5em;
}

#year:hover {
  color: #aaa;
}