{% extends 'layout.html' %}

{% block content %}
<div class="conteiner">
  <form action="/add-note", method="POST" id="form">

    <textarea id="text" name="content" cols="30" rows="10"></textarea>

    <button type="submit" id="save-button">Save</button>

  </form>
  <!-- NOTES VIEW -->
  <div id="notes-view">
    <!-- Validating if there notes -->
    {% if notes_list %}
    {% for note in notes_list %}
      <div class="note">
        <span class="title-note">Note {{ note[0] }}</span>
        <p class="text-note">{{ note[1] }}</p>
        <a href="/delete-note/{{ note[0] }}" class="delete-link">Delete</a>
      </div>
    {% endfor %}

    {% else %}
    <h1 id="no-notes">No there Notes yet.</h1>
    {% endif %}
  </div>
</div>


{% endblock %}
