{% extends 'layout.html' %}

{% block content %}
<!-- GETTING AND SHOW THE MESSAGES -->
{% with message = get_flashed_messages()[0] %}

{% if message %}
<div class="messages-view">
  <p>{{ message }}</p>
</div>
{% endif %}
{% endwith %}

<div class="container">
  <form action="/add-note", method="POST">

    <textarea name="content" cols="50" rows="15"></textarea>

    <button type="submit">Save</button>

  </form>
  <!-- NOTES VIEW -->
  <div id="notes-view">
    <!-- Validating if there notes -->
    {% if notes_list %}
    {% for note in notes_list %}
    <div class="note">
      <span class="title-note">Note {{ note[0] }}</span>
      <p class="date-note">Day: {{ note[1] }}</p>
      <p class="date-note">Month: {{ note[2] }}</p>
      <p class="date-note">Year: {{ note[3] }}</p>
      <p class="text-note">{{ note[4] }}</p>
      <a href="/delete-note/{{ note[0] }}" class="delete-link">Delete</a>
    </div>
    {% endfor %}

    {% else %}
    <p id="no-notes">No there Notes yet.</p>
    {% endif %}
  </div>
</div>


{% endblock %}
