<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Notes App</title>
  <!-- CUSTOM STYLE -->
  <link rel="stylesheet" href="{{ url_for('static', filename = 'css/main.css') }}" />
</head>

<body>

  <header>
    <nav>
      <a id="title-navigation" href="{{ url_for('home') }}">Notes App</a>
      <ul>
        <li>
          <a class="navigation-links" href="{{ url_for('about') }}">About</a>
        </li>
      </ul>
      <ul>
        <li>
          <a class="navigation-links" href="{{ url_for('home') }}">Home</a>
        </li>
      </ul>
    </nav>
  </header>

  <div class="notes-container">
    {% block content %}
    {% endblock %}

  </div>
  <script src="{{ url_for('static', filename = 'js/deleteMessage.js') }}"></script>

</body>
</html>